.output-tray {
  width: 180px;
  height: 95px;
  background: #f4c88b;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.tray-slot {
  position: relative;
  width: 100%;
  height: 100%;
}

.tray-box {
  position: absolute;
  width: 75px;
  object-fit: contain;
  animation: trayDrop 0.9s ease;
  transition: transform 0.2s;
}

.tray-box:hover {
  transform: scale(1.08);
}

@keyframes trayDrop {
  0% {
    transform: translateY(-140px) rotate(0deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}